body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4CAF50; /* Cor de fundo verde */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-wrap: wrap;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd; /* Bordas cinzas */
    border-radius: 5px;
    width: 300px;
    text-align: center;
    background-color: #fff; /* Fundo branco */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="date"],
input[type="file"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd; /* Bordas cinzas */
    border-radius: 3px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
